.botao{
    background-color: #5BDF0A;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin-top: 24px;

}

.botao:hover{
    color: #4D0071
}